<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="me.gingerninja.authenticator.module.timecorrector">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_timecorrector">
    </dist:module>
</manifest>

